.wl-nav
    .wl-nav-left
        h1.wl-head: a(href="/") 智度
    .wl-nav-right
        .wl-nav-rup
            form.wl-search
                input.wl-input(type="text",placeholder="Search",name='search')
                button(type="submit").wl-btn 搜索
            ol.wl-breadcrumb
                - var url = urlArr.reverse();
                - each item,index in url
                    - var name = current.current.name.split('.')[index]
                    - item = decodeURIComponent(item)
                    - var tmp = item.substring(item.lastIndexOf('/') + 1)
                        li: a(href='/#{item}') #{index+1}
        .wl-nav-rdown
            - var title = current ? current.current.name : product.current.name
            span.wl-current-title #{title}
            ul.wl-nav-tab
                li.wl-child-list.active(data-type='child-list'): a(href="javascript:;") 子产品
                li.wl-ip-list(data-type='ip-list'): a(href="javascript:;") IP列表
                li.wl-statistics(data-type='statistics'): a(href="/#{url[url.length-1]}?type=") 统计
                li.wl-addClass(data-type='add-class'): a(href="/#{url[url.length-1]}?type=addsort") 添加分类
                li.wl-addProduct(data-type='add-product'): a(href="/#{url[url.length-1]}?type=addproduct") 添加产品

