extends layout

block content

    div.wl-class
        div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            div.container-fluid
                div.navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                    a.navbar-brand(href='/') 智度
                div.navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li: a.wl-add-product(href='javascript:;', data-toggle='modal', data-target='#add') 添加产品
                        li: a.wl-add-class(href='javascript:;', data-toggle='modal', data-target='#add') 添加分类
                    form.navbar-form.navbar-right
                        input.form-control.wl-search(type='text', placeholder='Search..')
        div.container-fluid
            div.row
                div.colsm3.col-md-3.sidebar
                    ul.nav.nav-sidebar.wl-list
                        li.wl-sidebar-header
                            p 
                                | 分类
                                span: button.btn.btn-default.wl-btn 编辑
                        - classes.forEach(function (item,index) {
                            li
                                a(href='javascript:;',data-class='#{item.name}',data-id='#{item.id}') 
                                    | #{item.name}
                                    span.badge.wl-num #{item.amount}
                                    span.badge.wl-weight #{item.weight}
                        - })
                div.col-sm-9.col-sm-offset-3.col-md-9.col-md-offset-3.main
                    h2.sub-header #{product.current.name}
                    ol.breadcrumb.wl-header-nav

                    hr
                    div.table-responsive
                        button.btn.btn-default.wl-edit-btn(type='button') 编辑
                        table.table.table-striped
                            thead
                                tr
                                    th 产品
                                    th 产品
                                    th 产品
                                    th 产品
                            tbody.wl-product-body
                            - product.product.forEach(function (item,index) {
                                td
                                    a(href='javascript:;',data-product='#{item.name}',data-id='#{item.id}').wl-item 
                                        | #{item.name}
                                        span.wl-stat
                                        span.wl-weight #{item.weight}
                                        span.wl-num #{item.amount}
                            - })
                        div.wl-pager
                            ul.pagination
                                li: a.wl-prev-page(href='') &laquo;
                                li: a.wl-next-page(href='') &raquo;
        div.modal.fade#add(tabindex='-1',role='dialog',aria-labelledby='myModalLabel',aria-hidden='true')
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type='button',data-dismiss='modal')
                            span(aria-hidden='true') &times;
                            span.sr-only Close
                        h4.modal-title#myModalLabel 添加产品
                    div.modal-body
                        select.form-control.input-lg.wl-select
                            option(value='') something
                        select.form-control.input-lg.wl-select
                            option(value='') another 
                        input.form-control.wl-input(type='text',placeholder='子产品')
                    div.modal-footer
                        button.btn.btn-default(type='button',data-dismiss='modal') Cancel
                        button.btn.btn-primary(type='button') Save changes
