extends layout

block content

    div.wl-class
        div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            div.container-fluid
                div.navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                    a.navbar-brand(href='/') 智度
                div.navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li: a.wl-add-product(href='javascript:;', data-toggle='modal', data-target='#add') 添加产品
                        li: a.wl-add-class(href='javascript:;', data-toggle='modal', data-target='#add') 添加分类
                    form.navbar-form.navbar-right(action='#{url}', method='get')
                        input.form-control.wl-search(type='text', placeholder='Search..', name='s')
        div.container-fluid
            div.row
                div.col-sm-3.col-md-3.sidebar
                    ul.nav.nav-sidebar.wl-list
                        li.wl-sidebar-header(style='width:25%')
                            p 
                                | 分类
                                span: button.btn.btn-default.wl-btn 编辑
                        - classes.forEach(function (item,index) {
                            - if (item.name === product.current.name) {
                                li.active
                                    a(href='/#{item.name}',data-class='#{item.name}',data-id='#{item.id}') #{item.name}
                                        span.badge.wl-num #{item.amount}
                            - } else {
                                li
                                    a(href='/#{item.name}',data-class='#{item.name}',data-id='#{item.id}') #{item.name}
                                        span.badge.wl-num #{item.amount}
                            - }
                        - })
                div.col-sm-9.col-sm-offset-3.col-md-9.col-md-offset-3.main
                    - if (sort)
                        h2.sub-header #{sort}开头的产品
                    - else if (search)
                        h2.sub-header 搜索 #{search} 结果
                    - else 
                        h2.sub-header #{product.current.name}
                    ol.breadcrumb.wl-header-nav
                        li: a(href='#{url}') #{product.current.name}
                    hr
                    div
                        - each val, index in product.first_letter
                            - if (val >0)
                                - if (index === sort)
                                    span: a.wl-sort.active(href='#{url}?sort=#{index}') #{index} 
                                - else 
                                    span: a.wl-sort(href='#{url}?sort=#{index}') #{index} 
                    div.table-responsive
                        button.btn.btn-default.wl-edit-btn(type='button') 编辑
                        table.table.table-striped
                            thead
                                tr
                                    th product
                                    th weight
                                    th number
                                    th message
                                
                            tbody.wl-product-body
                                - product.product.forEach(function (item,index) {
                                    - if (index%4 === 0) {
                                        tr
                                    - }
                                            td
                                                a.wl-item(href='#{url}/#{item.name}',data-product='#{item.name}',data-id='#{item.id}') #{item.name}
                                                span.wl-stat
                                                    span.wl-weight W:#{item.weight}
                                                    span.wl-num N:#{item.count}                                        
                                - })
                        - if (! sort && ! search)
                            div.wl-pager
                                ul.pagination
                                    li: a.wl-prev-page(href='') &laquo;
                                    - classes.forEach(function (item,index) {
                                        - if (item.name === product.current.name)
                                            - for (var i = 1; i <= Math.ceil(item.amount/100); i ++ )
                                                - if (pageNum && i === pageNum*1)
                                                    li.active: a(href='/#{product.current.name}?page=#{i}') #{i}
                                                - else
                                                    li: a(href='/#{product.current.name}?page=#{i}') #{i}
                                    - })
                                    li: a.wl-next-page(href='') &raquo;
        div.modal.fade#add(tabindex='-1',role='dialog',aria-labelledby='myModalLabel',aria-hidden='true')
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type='button',data-dismiss='modal')
                            span(aria-hidden='true') &times;
                            span.sr-only Close
                        h4.modal-title#myModalLabel 添加产品
                    div.modal-body
                        select.form-control.input-lg.wl-select
                            option(value='') something
                        select.form-control.input-lg.wl-select
                            option(value='') another 
                        input.form-control.wl-input(type='text',placeholder='子产品')
                    div.modal-footer
                        button.btn.btn-default(type='button',data-dismiss='modal') Cancel
                        button.btn.btn-primary(type='button') Save changes
block extra_script
    script.
        $(".wl-list a").each(function (index, item) {
            $(item).editable({
                title: "Input the value",
                type: "text",
                pk: $(this).data("id"),
                url: ""
            });
        });

        $(".wl-list a").editable("toggleDisabled");

        $(".table a").each(function (index, item) {
            $(item).editable({
                title: "Input the value",
                type: "text",
                pk: $(this).data("id"),
                url: "/wl/ip"
            });
        });

        $(".table a").editable("toggleDisabled");

        $("body").on("click", ".wl-edit-btn", function(){
            $(".table a").editable("toggleDisabled");
            $(this).html($(this).html()==="编辑"? "取消" : "编辑");
        });
        $("body").on("click", ".wl-btn", function () {
            $(".wl-list a:not(.wl-btn)").editable("toggleDisabled");
            $(this).html($(this).html()==="编辑" ? "取消" : "编辑");
        });

