div.col-sm-9.col-sm-offset-3.col-md-9.col-md-offset-3.main
    - if (sort)
        h2.sub-header #{sort}开头的产品
    - else if (search)
        h2.sub-header 搜索 #{search} 结果
    - else 
        h2.sub-header #{product.current.name}
    ol.breadcrumb.wl-header-nav
        - var tmp = '';
        - url.split('/').forEach(function (item, index) {
            - tmp = tmp + item +'/';
            - if (item)
                li: a(href='#{tmp}') #{item}
        - })
    hr
    div
        - each val, index in product.first_letter
            - if (val >0)
                - if (index === sort)
                    span: a.wl-sort.active(href='#{url}?sort=#{index}') #{index} 
                - else 
                    span: a.wl-sort(href='#{url}?sort=#{index}') #{index}                         
    div.table-responsive
        button.btn.btn-default.wl-edit-btn(type='button') 编辑
        table.table.table-striped
            thead
                tr
                    th IP
                    th IP
                    th IP
                    th IP
            tbody.wl-product-body
                - if (search || sort)
                    - product.product.forEach(function (item,index) {
                        - if (index%4 === 0) {
                            tr
                        - }
                                td
                                    a.wl-item(href='#{url}/#{item.name}',data-product='#{item.name}',data-id='#{item.id}') #{item.name}
                                    span.wl-stat
                                        span.wl-weight W:#{item.weight}
                                        span.wl-num N:#{item.count}                                        
                    - })
                - else 
                    - product.ip.forEach(function (item,index) {
                        - if (index%4 === 0) {
                            tr
                        - }
                                td
                                    a(href='javascript:;',data-id='#{item.id}')
                                        | #{item.value}
                    - })