div.col-sm-4.col-md-4.sidebar
    ul.nav.nav-sidebar.wl-list
        li.wl-sidebar-header
            p
                | 产品
                span: button.btn.btn-default.wl-btn 编辑
        - var length = url.split('/').length
        - if (length === 3)
            - each item, index in product.product
                - var name = item.name.split('.')[0];
                li
                    a(href='#{url}/#{item.name}',data-class='#{item.name}',data-id='#{item.id}',class='#{item.name}')
                        | #{item.name}
                        span.label.label-info.wl-caret #{item.pcount}
                        //- span.wl-caret-hide.wl-caret hide..
                        span.badge.wl-weight #{item.weight}
        - else if (length === 4)
            - each item, index in product.product
                - var name = item.name.split('.')[0]
                - pUrl = url.substring(0, url.lastIndexOf('/'))
                - if (item.name === child.current.name)
                    li.active
                        a(href='#{pUrl}/#{item.name}', class='#{item.name}')
                            | #{item.name}
                            span.label.label-info.wl-caret #{item.pcount}
                            span.badge.wl-weight #{item.weight}
                        div.child1
                            ul
                                - each itm, idx in child.product
                                    - var cName = itm.name.split('.')[0]
                                    li
                                        a(href='#{url}/#{itm.name}', class='#{itm.name}')
                                            | #{itm.name}
                                            span.label.label-info.wl-caret #{itm.pcount}
                                            span.badge.wl-weight #{itm.weight}
                - else
                    li: a(href='#{pUrl}/#{item.name}', class='#{item.name}')
                        | #{item.name}
                        span.label.label-info.wl-caret #{item.pcount}
                        span.badge.wl-weight #{item.weight}
        - else if (length >= 5)
            - each item, index in product.product
                - var name = item.name.split('.')[0]
                - var arr = url.split('/');
                - if ( length === 5)
                    - arr.splice(-2, 2);
                    - pUrl = arr.join('/');
                - else if ( length === 6)
                    - arr.splice(-3,3);
                    - pUrl = arr.join('/');
                - if (item.name === child.current.name)
                    li.active
                        a(href='#{pUrl}/#{item.name}', class='1')
                            | #{item.name}
                            span.label.label-info.wl-caret #{item.pcount}
                            span.badge.wl-weight #{item.weight}
                        div.child1
                            ul
                                - each itm, idx in child.product
                                    - var cName = itm.name.split('.')[0]
                                    - if (length === 5)
                                        - var arr1 = url.split('/')
                                        - arr1.splice(-1, 1);
                                        - cUrl = arr1.join('/');
                                    - else if (length === 6)
                                        - var arr1 = url.split('/')
                                        - arr1.splice(-2, 2);
                                        - cUrl = arr1.join('/');
                                    - if (itm.name === subChild.current.name)
                                        li.active
                                            a(href='#{cUrl}/#{itm.name}', class='2')
                                                | #{itm.name}
                                                span.label.label-info.wl-caret #{itm.pcount}
                                                span.badge.wl-weight #{itm.weight}
                                            div.child2
                                                ul
                                                    - each t, i in subChild.product
                                                        - var subname = t.name.split('.')[0];
                                                        li
                                                            a(href='#{url}/#{t.name}')
                                                                | #{t.name}
                                                                span.label.label-info.wl-caret #{t.pcount}
                                                                span.badge.wl-weight #{t.weight}
                                    - else
                                        li
                                            a(href='#{cUrl}/#{itm.name}', class='#{itm.name}')
                                                | #{itm.name}
                                                span.label.label-info.wl-caret #{itm.pcount}
                                                span.badge.wl-weight #{itm.weight}
                - else
                    li: a(href='#{pUrl}/#{item.name}', class='#{item.name}')
                        | #{item.name}
                        span.label.label-info.wl-caret #{item.pcount}
                        span.badge.wl-weight #{item.weight}            