extends layout
extends extra_css
extends extra_script

block content
    - classes.forEach(function (item,index) {
        li
            a(href="javascript:;",data-class="#{item.name}",data-id="#{item.id}").#{item.name}
                span.badge.wl-num #{item.amount}
                span.badge.wl-weight #{item.weight}
    })
    - product.forEach(function (item,index) {
        td
            a(href="javascript:;",data-product="#{item.name}",data-id="#{item.id}").wl-item #{item.name}
                span.wl-stat
                span.wl-weight #{item.weight}
                span.wl-num #{item.amount}
    })

    


