extends layout

block content

    div.wl-class
        div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            div.container-fluid
                div.navbar-header
                    button.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar  
                    a.navbar-brand(href='/') 智度
                div.navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li: a.wl-add-product(href='javascript:;',data-toggle='modal',data-target='#add') 添加产品
                        li: a.wl-add-class(href='javascript:;',data-toggle='modal',data-target='#add') 添加分类
                    form.navbar-form.navbar-right(action='#{url}', method='get')
                        input.form-control.wl-search(type='text',placeholder='Search...', name='s')
        div.container-fluid
            div.row
                div.col-sm-3.col-md-3.sidebar
                    ul.nav.nav-sidebar.wl-list
                        li.wl-sidebar-header
                            p
                                | 产品
                                span: button.btn.btn-default.wl-btn 编辑
                        - product.product.forEach(function (item,index){
                            - var l = url.substring(0, url.lastIndexOf('/'))
                            - var lArray = l.split('/');
                            - var l1 = '/'+lArray[1]+'/'+lArray[2];
                            - var name = item.name.split('.')[0];
                            - if (item.name === child.current.name)
                                li.active
                                    a(href='#{l}',data-class='#{item.name}',data-id='#{item.id}',class='#{item.name}')
                                        | #{name}
                                        span.label.label-info.wl-caret #{item.pcount}
                                        span.badge.wl-weight #{item.weight}
                                    div.wl-show-sub
                                        ul.nav.nav-sidebar.wl-sub-list
                                            - child.product.forEach(function (subItem, subIndex){
                                                - var l = url.substring(0,url.lastIndexOf('/'))
                                                - var subName = subItem.name.split('.')[0];
                                                - if (subItem.name == subChild.current.name)
                                                    li.active
                                                        a(href='#{l}/#{subItem.name}',data-class='#{subItem.name}',data-id='#{subItem.id}',class='#{subItem.name}')
                                                            | #{subName}
                                                            span.label.label-info.wl-caret #{subItem.pcount}
                                                            span.badge.wl-weight #{subItem.weight}
                                                        div.wl-show-sub
                                                            ul.nav.nav-sidebar.wl-sub-list
                                                - else 
                                                    li
                                                        a(href='#{l}/#{subItem.name}',data-class='#{subItem.name}',data-id='#{subItem.id}',class='#{subItem.name}')
                                                            | #{subName}
                                                            span.label.label-info.wl-caret #{subItem.pcount}
                                                            span.badge.wl-weight #{subItem.weight}
                                            - })
                            - else 
                                li
                                    a(href='#{l1}/#{item.name}',data-class='#{item.name}',data-id='#{item.id}',class='#{item.name}')
                                        | #{name}
                                        span.label.label-info.wl-caret #{item.pcount}
                                        span.badge.wl-weight #{item.weight}
                                    div.wl-show-sub
                                        ul.nav.nav-sidebar.wl-sub-list
                        - })
                div.col-sm-9.col-sm-offset-3.col-md-9.col-md-offset-3.main
                    h2.sub-header #{subChild.current.name}
                    ol.breadcrumb.wl-header-nav
                        - var tmp = '';
                        - url.split('/').forEach(function (item, index) {
                            - tmp = tmp + item +'/';
                            - if (item)
                                li: a(href='#{tmp}') #{item}
                        - })
                    hr
                    div
                        - each val, index in child.first_letter
                            - if (val >0)
                                - if (index === sort)
                                    span: a.wl-sort.active(href='#{url}?sort=#{index}') #{index} 
                                - else 
                                    span: a.wl-sort(href='#{url}?sort=#{index}') #{index} 
                    div.table-responsive
                        button.btn.btn-default.wl-edit-btn(type='button') 编辑
                        table.table.table-striped
                            thead
                                tr
                                    th IP
                                    th IP
                                    th IP
                                    th IP
                            tbody.wl-product-body
                                - subChild.ip.forEach(function (item,index) {
                                    - if (index%4 === 0) {
                                        tr
                                    - }
                                            td
                                                a(href='javascript:;',data-id='#{item.id}')
                                                    | #{item.value}
                                - })
                        div.wl-pager
                            ul.pagination
                                li: a.wl-prev-page(href='') &laquo;
                                - for(var i = 1; i <= child.count/100; i++)
                                    - if (pageNum && pageNum*1 === i)
                                        li.active: a(href='#{url}/page/#{i}') #{i}
                                    - else 
                                        li: a(href='#{url}/page/#{i}') #{i}
                                li: a.wl-next-page(href='') &raquo;
    
        div.modal.fade#add(tabindex='-1',role='dialog',aria-labelledby='myModalLabel',aria-hidden='true')
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type='button',data-dismiss='modal')
                            span(aria-hidden='true') &times;
                            span.sr-only close
                        h4.modal-title#myModalLabel 添加产品
                    div.modal-body
                        select.from-control.input-lg.wl-select
                            option(value='') something
                        select.from-control.input-lg.wl-select
                            option(value='') another
                        input.from-control.wl-input(type='text',placeholder='子产品')
                    div.modal-footer
                        button.btn.btn-default(type='button',data-dismiss='modal') Cancel
                        button.btn.btn-primary(type='button') Save changes 
    
block extra_script
    script.
        $("body").on("click", ".wl-caret",function(event){
            event.preventDefault();
            event.stopPropagation();
            console.log($(this).parents("li"));
            var self = this;
            if ($($(self).parents("li")[0]).find(".wl-show-sub").is(":visible")) {
                $($(self).parents("li")[0]).find(".wl-show-sub").hide();
                //- $(self).html("more");
            } else {
                var url = $(this).parent().attr("href");
                console.log(url);
                var reqUrl = "http://10.0.200.185:81/ls"+url;
                $.ajax({
                    type: "GET",
                    url: reqUrl,
                    crossDomain: true,
                    dataType: "jsonp",
                    success: function (data) {
                        var productData = data.product;
                        var len = productData.length;
                        $($(self).parents("li")[0]).find(".wl-show-sub ul li").remove();
                        if(len > 0){
                            productData.forEach(function(item,index){
                                var subProduct = item.name;
                                var weight = item.weight;
                                var count = item.pcount;
                                var name = subProduct.split(".")[0];
                                $($(self)
                                    .parents("li")[0])
                                    .find(".wl-show-sub")
                                    .show()
                                    .find("ul")
                                    .append(
                                    $("<li><a href='"+url+"/"+subProduct+"'>"+
                                        name+"<span class='label label-info wl-caret'>"+count+"</span><span class='badge wl-sub-weight'>"+
                                        weight+"</a></li>"))
                            })
                        }else {
                            $($(self)
                                .parents("li")[0])
                                .find(".wl-show-sub")
                                .show()
                                .find("ul")
                                .find("li")
                                .remove()
                                .end()
                                .append($("<li class='no-child'>暂无子分类</li>"));
                        }
                        //- $(self).html("hide");
                    }
                })
            }
        })
        $(".wl-list a").each(function (index, item) {
            $(item).editable({
                title: "Input the value",
                type: "text",
                pk: $(this).data("id"),
                url: ""
            });
        });

        $(".wl-list a").editable("toggleDisabled");

        $(".table a").each(function (index, item) {
            $(item).editable({
                title: "Input the value",
                type: "text",
                pk: $(this).data("id"),
                url: "/wl/ip"
            });
        });

        $(".table a").editable("toggleDisabled");

        $("body").on("click", ".wl-edit-btn", function(){
            $(".table a").editable("toggleDisabled");
            $(this).html($(this).html()==="编辑"? "取消" : "编辑");
        });
        $("body").on("click", ".wl-btn", function () {
            $(".wl-list a:not(.wl-btn)").editable("toggleDisabled");
            $(this).html($(this).html()==="编辑" ? "取消" : "编辑");
        });