extends layout

block content
    //- include navbar
    //- include sidebar
    .wl-nav
        .wl-nav-left
            h1.wl-head: a(href="/") 智度
        .wl-nav-right
            .wl-nav-rup
                form.wl-search
                    input(type="text",placeholder="Search").wl-input
                    button(type="submit").wl-btn 搜索
                ol.wl-breadcrumb
                    - var l = url.split('/')[1];
                        li: a(href='/#{l}') #{l}
    
            .wl-nav-rdown
                span.wl-current-title #{product.current.name}
                ul.wl-nav-tab
                    li.wl-list.active: a(href="javascript:") 列表
                    li.wl-statistics: a(href="javascript:") 统计
                    li.wl-addClass: a(href="javascript:") 添加分类
                    li.wl-addProduct: a(href="javascript:") 添加产品

    .wl-sidebar-wrapper
        .wl-sidebar
            .wl-parents-hidden.wl-sidebar-product(class='wl-parents-#{index}')
                .content.expanded
                    ul
                        - classes.forEach(function (item,index){
                            - var current = url.split('/')[1];
                            - var c = '';
                            - if (current === item.name)
                                - c = 'active';
                                li(class='#{c}')
                                    .wl-product-info
                                        //- span.wl-product-weight #{item.weight}
                                        span.wl-product-amount #{item.amount}
                                    a(href='#{item.name}') #{item.name} 
                            - else
                                li
                                    .wl-product-info
                                        //- span.wl-product-weight #{item.weight}
                                        span.wl-product-amount #{item.amount}
                                    a(href='#{item.name}') #{item.name} 
                        - })
                .slide-btn: a(href="javascript:;").fold
        .wl-main
            .product-wrapper
                table.wl-table
                    thead
                        tr.wl-tr
                            th product 
                            th weight
                            th num
                            th.th-remark remark
                            th product 
                            th weight
                            th num
                            th.th-remark remark
                    tbody.wl-tbody
                        - product.product.forEach(function (item,index) {
                            - if(index%2 === 0) {
                                tr
                            - }
                                    td  
                                        span.message-btn.icon-pencil
                                        a.product(href='#{url}/#{item.name}',data-id='#{item.id}') #{item.name}
                                        .message-popup
                                            .popup-wrapper
                                                textarea #{item.remark}
                                                button(type='submit') Submit 
                                    td #{item.weight}
                                    td #{item.count}
                                    td.td-remark #{item.remark}
                        - })
                .wl-pager
                    .wl-prev-page: a(href='') &laquo;
                    .wl-pagination-container
                        ol.wl-pagination
                            - var pnum;
                            - classes.forEach(function(item,index) {
                                - if(item.name === product.current.name) {
                                    - pnum =  Math.ceil(item.amount/100);
                                    - var t = pnum;
                                    - for(var i=1; i<=t; i++)
                                        - if(i == pageNum*1)
                                            li.wl-page-active.wl-common: a(href="/#{product.current.name}?page=#{i}") #{i}
                                        - else
                                            li.wl-common: a(href="/#{product.current.name}?page=#{i}") #{i}

                                - }
                            - })
                    .wl-next-page: a(href='') &raquo;
        script.
            $('.wl-main').width($('body').width() - $('.wl-sidebar').width());
            $('.slide-btn a').on('click',function(event){
                var self = this;
                var p = $(self).parents('.wl-sidebar-product');
                var content = p.find('.content');
                var sidebarWidth = $('.wl-sidebar').width();
                var bodyWidth = $('body').width();

                if(content.hasClass('expanded')){
                    content.removeClass('expanded');
                    $(self).removeClass('fold');
                    $('.wl-main').animate({
                        width:bodyWidth - sidebarWidth + 375 + 'px'
                        },300)
                }else{
                    if (sidebarWidth<375) {
                        $('.wl-main').width(bodyWidth - sidebarWidth - 375);
                    } else {
                        $('.wl-main').width(bodyWidth - sidebarWidth);
                    }
                    content.addClass('expanded');
                    $(self).addClass('fold');
                }
            });

            var cwidth = $('.wl-pagination-container').width()+10;
            console.log(cwidth);
            var totalwidth = 0;
            totalwidth = totalwidth + cwidth;
            $('.wl-next-page').on('click',function(event){
                event.preventDefault();
                console.log(totalwidth);
                var rwidth = parseInt($('.wl-pagination').css('right'));
                console.log(rwidth);
                if(rwidth <= totalwidth){
                    $('.wl-pagination').css('right',cwidth+rwidth+'px');
                }else{
                    $('.wl-next-page').off('click');
                }
            })


            $('.wl-prev-page').on('click',function(event){
                event.preventDefault();
                var rwidth = parseInt($('.wl-pagination').css('right'));
                if(rwidth){
                    $('.wl-pagination').css('right',rwidth-cwidth+'px');
                }else{
                    $('.wl-prev-page').off('click');
                }
            })



            $('.message-btn').on('click', function () {
                console.log('click')
                $(this).siblings('.message-popup').fadeIn(300);
            });
            $(document).on('click', function (event) {
                if (! $(event.target).hasClass('message-btn') && $(event.target).parents('.message-popup').length === 0) {
                    if ($('.message-popup').is(':visible')) {
                        $('.message-popup').fadeOut(300);
                    }
                }
            });
            $('.message-popup button').on('click', function () {
                var id = $(this).parents('.product').data('id');
                var self = this;
                var type = 'product';
                var targetUrl = '/set'
                $.ajax({
                    type:'POST',
                    url:targetUrl,
                    data:{
                        description:$(self).siblings('textarea').val(),
                        id: id,
                        type: product
                    },
                    success: function(data){
                        var data = data.parseJSON(data);
                        $(self).siblings('textarea').html(data.data.remark).val(data.data.remark);
                        $(self).parents('td').find('.td-remark').html(data.data.remark);
                    }
                })
            });