.wl-nav
    .wl-nav-left
        h1.wl-head: a(href="/") 智度
    .wl-nav-right
        .wl-nav-rup
            form.wl-search
                input(type="text",placeholder="Search").wl-input
                button(type="submit").wl-btn 搜索
            ol.wl-breadcrumb
                - var url = urlArr.reverse();
                - each item in url
                    - var tmp = item.substring(item.lastIndexOf('/') + 1)
                        li: a(href='/#{item}') #{tmp}
        .wl-nav-rdown
            ul.wl-nav-tab
                li.wl-list.active: a(href="/#{url[url.length-1]}?type=list") 列表
                li.wl-statistics: a(href="/#{url[url.length-1]}?type=") 统计
                li.wl-message: a(href="/#{url[url.length-1]}?type=message") 备注
                li.wl-addClass: a(href="/#{url[url.length-1]}?type=addsort") 添加分类
                li.wl-addProduct: a(href="/#{url[url.length-1]}?type=addproduct") 添加产品

