.wl-loading-container
    .container
        .ring.blue
        #content
            span LOADING


.wl-sidebar-wrapper
    .wl-sidebar
        - each parent,index in parents
            .wl-parents-hidden.wl-sidebar-product(class='wl-parents-#{index}')
                .content
                    .wl-product-count 
                        p #{parent.current.name}
                        |总计 #{parent.current.pcount} 个子产品
                    ul
                        - each product in parent.product
                            - var c = '';
                            - if (product.name === current.current.name || (parents[index+1] && product.name === parents[index+1].current.name))
                                - c = 'active'
                            li(class='#{c}', data-id='#{product.id}')
                                .wl-product-info
                                    - var weight = product.weight*1 > 1000000 ? Math.floor(product.weight/1000000) + ' M' : (product.weight*1 > 1000 ? Math.floor(product.weight/1000) + ' K' : product.weight)
                                    - var num = product.pcount*1 > 1000000 ? Math.floor(product.pcount/1000000) + ' M' : (product.pcount*1 > 1000 ? Math.floor(product.pcount/1000) + ' K' : product.pcount)
                                    span.wl-product-weight #{weight}
                                    span.wl-product-amount #{num}
                                a(href='/#{urlArr[urlArr.length-1]}/#{product.id}') #{product.name} 
                    - if (parent.current.pcount > 100)
                        - var str = urlArr[index+1]
                        .wl-more-product(data-current='#{str}')
                            span More


                .slide-btn: a(href='javascript:;')
    .wl-main
        .wl-sort
            .wl-sort-container
                p 按首字母分页
                .wl-sort-letter
                    - each num,letter in current.first_letter
                        - if (num*1 > 0)
                            span: a(href='/#{urlArr[urlArr.length-1]}?search=#{letter}%') #{letter} (#{num})
        - if (search || sort)
            - var header = sort ? '按首字母 '+sort+' 排序' : '搜索 '+ search +' 的结果'
            h2.wl-query-header #{header}
        .main-area.product-wrapper#child-list
            table.wl-table
                thead
                   tr.wl-tr
                        th
                            a(href='javascript:;', data-sort='product_name').sort-type.wl-product product
                            span.icon-arrow-up.sort-active
                        th
                            a(href='javascript:;', data-sort='weight').sort-type.wl-weight weight
                            span.icon-arrow-up
                        th num
                        th.th-remark remark
                        th
                            a(href='javascript:;', data-sort='product_name').sort-type.wl-product product
                            span.icon-arrow-up.sort-active 
                        th
                            a(href='javascript:;', data-sort='weight').sort-type.wl-weight weight
                            span.icon-arrow-up
                        th num
                        th.th-remark remark
                tbody.wl-tbody
                    - current.product.forEach(function (item,index) {
                        - if(index%2 === 0) {
                            tr
                        - }
                                td  
                                    span.message-btn.icon-pencil
                                    a.product(href='/#{urlArr[urlArr.length-1]}/#{item.id}',data-id='#{item.id}') #{item.name}
                                    .message-popup
                                        .popup-wrapper
                                            textarea #{item.remark}
                                            button(type='submit') Submit 
                                td #{item.weight}
                                td #{item.count}
                                td.td-remark #{item.remark}
                    - })            
            .wl-pager
                ol.wl-pagination
                    li.wl-prev-page: a(href='') &laquo;
                    - var pnum;
                    - pnum =  Math.ceil(current.current.pcount/100);
                    - var t = pnum < 20 ? pnum : 20; 
                    - pageNum = pageNum ? pageNum : 1;
                    - if (sort)
                        - each num,letter in current.first_letter
                            - if (letter === sort)
                                - t = num/100
                    - for(var i=1; i<=t; i++)
                        li.wl-common(data-num='#{pnum}'): a(href="javascript:;") #{i}
                    - if (t>20)
                        li.wl-next-page: a(href='') &raquo;
               
        .main-area.ip-wrapper#ip-list
            - each ip in ips
                - var c = ip.safe === 1 ? 'safe' : 'danger' 
                .ip(data-id='#{ip.id}', class='#{c}')
                    span.message-btn.icon-pencil
                    span.mark-unsafe.icon-pushpin
                    span.ip-value #{ip.value}
                    span.ip-weight #{ip.weight}
                    .message-popup
                        .popup-wrapper
                            textarea #{ip.remark}
                            button(type='submit') Submit
    script.
        var sortType = '';
        var url = '#{originalUrl}';
        var chart = url.indexOf('?') === -1 ? '?' : '&';
        var total = 1;
        var num = #{current.current.pcount};

        var sort = '';
        $('.wl-main').width($('body').width()-$('.wl-sidebar').width());
        $('.slide-btn a').on('click', function (event) {
            var self = this;
            var p = $(self).parents('.wl-sidebar-product');
            var content = p.find('.content');
            var sidebarWidth = $('.wl-sidebar').width();
            var bodyWidth = $(document).width();

            if (content.hasClass('expanded')) {
                content.removeClass('expanded');
                $(self).removeClass('fold');
                $('.wl-main').animate({
                    width: bodyWidth - sidebarWidth + 375 + 'px'
                }, 300);
            } else {
                if (sidebarWidth<375) {
                    $('.wl-main').width(bodyWidth - sidebarWidth - 375);
                } else {
                    $('.wl-main').width(bodyWidth - sidebarWidth);
                }
                content.addClass('expanded');
                $(self).addClass('fold');
                p.siblings().find('.content').removeClass('expanded');
                p.siblings().find('.slide-btn a').removeClass('fold');
            }
        });
        $('body').on('click', '.message-btn',function () {
            $(this).siblings('.message-popup').fadeIn(300);
        });
        $(document).on('click', function (event) {
            if (! $(event.target).hasClass('message-btn') && $(event.target).parents('.message-popup').length === 0) {
                if ($('.message-popup').is(':visible')) {
                    $('.message-popup').fadeOut(300);
                }
            }
        });
        $('body').on('click', '.message-popup button',function () {
            var type,id,targetUrl;
            alert('click');
            var self = this;
            if ($(this).parents('.ip').length > 0) {
                type = 'ip';
                id = $(this).parents('.ip').data('id');

                targetUrl = '/set';
                $.ajax({
                    type: 'POST',
                    url: targetUrl,
                    data: {
                        description: $(self).siblings('textarea').val(),
                        id: id,
                        type: type
                    },
                    success: function (data) {
                        data = $.parseJSON(data);
                        $(self).siblings('textarea').html(data.data.remark).val(data.data.remark);
                    }
                });
            }
        });

        $('.mark-unsafe').on('click', function () {
            var type,id,targetUrl;
            var self = this;
            if ($(this).parents('.ip').length > 0) {
                type = 'ip';
                id = $(this).parents('.ip').data('id');

                targetUrl = '/set';
                $.ajax({
                    type: 'POST',
                    url: targetUrl,
                    data: {
                        safe: $(self).parents('.ip').hasClass('safe') ? 0 : 1,
                        id: id,
                        type: type
                    },
                    success: function (data) {
                        data = $.parseJSON(data);
                        if (data.data.safe == 1) {
                            $(self).parents('.ip').addClass('safe').removeClass('danger');
                        } else {
                            $(self).parents('.ip').addClass('danger').removeClass('safe');
                        }
                    }

                })
            }
        });

        $('.wl-more-product').on('click', function () {
            $('.wl-loading-container').fadeIn(200);
            var currentLength = $(this).siblings('ul').find('li').length;
            var total = $(this).siblings('.wl-product-count').html().split(' ')[1]*1;
            var targetUrl = '/single/' + $(this).data('current') + '?limit=100&offset=' + currentLength;
            
            $(this).find('.progress').addClass('icon-spinner2');
            var self = this;

            $.ajax({
                type: 'GET',
                url: targetUrl,
                success: function (data) {
                    $('.wl-loading-container').fadeOut(200);
                    data = $.parseJSON(data);
                    $(self).find('.progress').removeClass('icon-spinner2');

                    $.each(data.product, function (index, p) {
                        var li = $('<li>').data('id', p.id);
                        var info = $('<div>')
                                        .addClass('wl-product-info')
                                        .append($('<span>').addClass('wl-product-weight').html(p.weight))
                                        .append($('<span>').addClass('wl-product-amount').html(p.pcount));
                        var messageBtn = $('<span>').addClass('message-btn').addClass('icon-pencil');
                        var link = $('<a>').attr('href', '/'+$(self).data('current')+'/'+p.name).html(p.name);
                        var popup = $('<div>').addClass('message-popup');
                        var popupWrapper = $('<div>')
                                                .addClass('popup-wrapper')
                                                .append($('<textarea>').html(p.remark).val(p.remark))
                                                .append($('<button type="submit">').html('Submit'));
                        popup.append(popupWrapper);

                        li.append(info).append(messageBtn).append(link).append(popup);
                        $(self).parents('.content').find('ul').append(li);
                    });
                }
            });
        });

        $('.wl-nav-tab a').on('click', function () {
            $(this).parents('.wl-nav-tab').find('li').removeClass('active');
            $(this).parent().addClass('active');
            $('.main-area').hide();
            var type = $(this).parent().data('type');
            $('#'+type).fadeIn(200);
        });

        $('.wl-next-page a').on('click',function(){
            event.preventDefault();
            if(! $('.wl-prev-page').is(':visible')) {
                $('.wl-prev-page').css({
                    display: 'inline-block'
                });
            }
            var fisrtPage = $('.wl-common').eq(0).find('a').html()*1;
            var newPage = fisrtPage + 20;
            var liArrA = $('.wl-common a');
            var sum = 0;
            liArrA.each(function(index,item){
                sum = newPage+index;
                $(this).html(sum);
            });
            total = total + 20;
            if(total >= num){
                $('.wl-next-page').hide();
            }
            $('.wl-common').removeClass('wl-page-active');
        })

        $('.wl-prev-page a').on('click',function(event){
            event.preventDefault();
            if($('.wl-next-page').is(':hidden')) {
                $('.wl-next-page').show();
            }
            var fisrtPage = $('.wl-common').eq(0).find('a').html()*1;
            var newPage = fisrtPage - 20;
            var liArrA = $('.wl-common a');
            liArrA.each(function(index,item){
                $(this).html(newPage+index);
            });
            if(newPage === 1){
                $('.wl-prev-page').hide();
            }
            $('.wl-common').removeClass('wl-page-active');
        })

        var table = function (href,cdata) {
            var i = 1;
            cdata.product.forEach(function (item,index) {

                var num = item.count*1 > 1000000 ? 
                    Math.ceil(item.count*1/1000000) + ' M' : 
                    (item.count*1 > 1000 ? Math.ceil(item.count*1/1000) + ' k' : item.count);

                var weight = item.weight*1 > 1000000 ? 
                    Math.ceil(item.weight*1/1000000) + ' M' : 
                    (item.weight*1 > 1000 ? Math.ceil(item.weight*1/1000) + ' k' : item.weight);

                var td = $('<td>')
                            .append($('<span class="message-btn icon-pencil">'))
                            .append($('<a class="product">').attr('href', href+'/'+item.name).data('id',item.id).html(item.name))
                            .append(
                                $('<div class="message-popup">')
                                    .append(
                                        $('<div class="popup-wrapper">')
                                            .append($('<textarea>').html(item.remark))
                                            .append($('<button type="submit">').html('Submit'))))                           

                if(index%2 === 0){
                    $('.wl-tbody')
                        .append(
                            $('<tr>')
                                .append(td)
                                .append($('<td>').html(weight))
                                .append($('<td>').html(num))
                                .append($('<td>').html(item.remark).addClass('td-remark')));
                }else{
                    $('.wl-tbody tr').eq(index-i)
                        .append(td)
                        .append($('<td>').html(weight))
                        .append($('<td>').html(num))
                        .append($('<td>').html(item.remark).addClass('td-remark'));
                }
                i++;
            })
        }

        $('.wl-common a').on('click',function(event){
            event.preventDefault();

            $('.wl-tbody tr').remove();
            $('.wl-loading-container').fadeIn(200);

            var sort = '';
            var t;
            var target = sortType === 'weight' ? '.wl-weight' : '.wl-product';

            if ($(this).parent().hasClass('sort')) {

                if ($(target).siblings('span').hasClass('icon-arrow-up')) {
                    t = '';
                } else {
                    t = '-';
                }

                sort = '&order=' + t + sortType;
            }

            $('.wl-common').removeClass('wl-page-active');
            $(this).parent().addClass('wl-page-active');

            
            page = $(this).html()*1;
            var n = 100;
            var offset = (page-1)*100;

            var targetUrl = '/page' + url + chart + 'offset=' + offset + '&limit=' + n + sort;

            console.log(targetUrl);

            $.ajax({
                type: 'GET',
                url: targetUrl,
                success: function(data) {
                    $('.wl-loading-container').fadeOut(200);
                    var cdata = $.parseJSON(data);
                    table(url,cdata);
                }
            })
        })
        
        $('.sort-type').on('click',function(event) {
            event.preventDefault();

            $('.wl-tbody tr').remove();
            $('.wl-loading-container').fadeIn(200);

            sortType = $(this).data('sort');
            var t;
            var active = sortType === 'weight' ? '.wl-weight' : '.wl-product';
            var inactive = sortType === 'weight' ? '.wl-product' : '.wl-weight';

            if ($(this).siblings('span').hasClass('icon-arrow-up')) {
                t = '-';
                $(inactive).siblings('span').removeClass('sort-active');
                $(active).siblings('span').removeClass('icon-arrow-up').addClass('icon-arrow-down').addClass('sort-active');
            } else {
                t  ='';
                $(inactive).siblings('span').removeClass('sort-active');
                $(active).siblings('span').removeClass('icon-arrow-down').addClass('icon-arrow-up').addClass('sort-active');
            }

            var targetUrl = '/single'+ url + chart + 'order=' + t + sortType;

            console.log(targetUrl);

            $.ajax({
                type: 'GET',
                url: targetUrl,
                success: function (data) {
                    $('.wl-loading-container').fadeOut(200);
                    var cdata = $.parseJSON(data);
                    table(url,cdata);
                    $('.wl-common').addClass('sort').removeClass('wl-page-active');

                    for (var i = 0; i <= 20; i++) {
                        $('.wl-common a').eq(i).html(i+1);
                    }
                }
            })

        })